.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.portfolio__items {
  background: var(--color-bg-varient);
  padding: 0.5rem;
  margin: 0.4rem;
  border-radius: 2rem;
  transition: var(--transition);
  row-gap: 1.4rem;
  border: 1px solid transparent;
}

.portfolio__items:hover {
  color: var(--color-primary);
  background: var(--color-blur);
  border-radius: 2rem;
}

.portfolio__item-img img {
  border-radius: 1.7rem;
}

.portfolio__items h3 {
  text-align: center;
  /* margin: 0.1rem 0 0.3rem; */
}

.portfolio__item-cta {
  display: flex;
  gap: 0.2rem;
  justify-content: space-evenly;
  margin-top: 0.3rem;
}

/* ======Media Query========== */
@media (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 2rem;
    position: relative;
  }
}
.portfolio__items {
  /* background: yellow; */
  width: 126.9%;
  position: relative;
  right: 3rem;
}
#portfolio {
  position: relative;
  top: 76rem;
}
