header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}
.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* ============ DOWNLOAD ========= */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

/* ============ DOWNLOAD ========= */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials a:hover {
  color: var(--color-white);
  transition: var(--transition);
  /* width: 35%; */
}
.header__socials::after {
  content: "";
  width: 2px;
  height: 2.8rem;
  background: var(--color-primary);
}

/* ============ ME IMAGE ========= */
.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  border-radius: 5rem 5rem;
  height: 30rem;
  position: absolute;
  position: relative;
  /* right: 5px; */
  transform: translateX(100%);
  margin-top: 2rem;
  overflow: hidden;
  padding: 2rem 0.75rem 0.75rem 0.75rem;
}

/* ============ SCROLL DOWN ========= */
.scroll__Down {
  position: absolute;
  right: -2rem;
  bottom: 5rem;
  font-size: 12px;
  transform: rotate(90deg);
}
.scroll__Down:hover {
  color: var(--color-white);
  transition: var(--transition);
}
/* =========== MEDIA QUERIES (small devices) ========= */
@media (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
  .me {
    width: 128%;
    position: relative;
    right: 26rem;
  }
  .cta {
    position: relative;
    font-size: 15px;
    /* left: 2rem; */
  }
  .scroll__Down {
    display: none;
  }
  .header__socials {
    display: none;
    /* position: absolute;
    right: 18.4rem; */
  }
}
