nav ul li a {
  font-size: 25px;
  justify-content: space-between;
  background: transparent;
  /* padding: 0.7rem; */
  border-radius: 50%;
  color: var(--color-off);
}
h6 {
  /* padding: 0.7rem; */
  font-size: 8px;
  position: relative;
  bottom: 0.9rem;
}
nav ul {
  display: flex;
  left: 5rem;
  bottom: 3rem;
  justify-content: space-between;
  width: 87%;
}
nav ul li {
  width: max-content;
}

nav {
  background: rgba(0, 0, 0, 0.3);
  width: 30%;
  display: flex;
  border-radius: 2rem;
  justify-content: space-evenly;
  left: 36%;
  top: 32rem;
  position: relative;
  gap: 0.3rem;
  z-index: 2;
  position: fixed;
}
.active {
  color: var(--color-white);
  font-size: 32px;
}

@media (max-width: 600px) {
  nav {
    display: none;
  }
}
